<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>MainPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkGreenLake</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCloudServices</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkServiceButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkConnectivity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCompute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkDataServices</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
