<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9a9c1">  <td>21/11/03 18:19:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainPageTest.afterMethod()[pri:0, instance:MainPageTest@ae3540e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2130357594</td>   <td></td> </tr>
<tr bgcolor="a9a9c1">  <td>21/11/03 18:19:09</td>   <td>-23960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainPageTest.beforeMethod()[pri:0, instance:MainPageTest@ae3540e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2130357594</td>   <td></td> </tr>
<tr bgcolor="a9a9c1">  <td>21/11/03 18:19:19</td>   <td>-14084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.checkGreenLake()[pri:0, instance:MainPageTest@ae3540e]">checkGreenLake</td> 
  <td>main@2130357594</td>   <td></td> </tr>
</table>
