<h2>Methods that were not run</h2><table>
<tr><td>MainPageTest.checkDataServices</td></tr>
<tr><td>MainPageTest.checkCloudServices</td></tr>
<tr><td>MainPageTest.checkCompute</td></tr>
<tr><td>MainPageTest.checkServiceButton</td></tr>
<tr><td>MainPageTest.checkConnectivity</td></tr>
</table>